<header class="site-header">
    <div><h1>UESEC Portal</h1></div>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/personnel">Personnel</a>
        <a href="/ship">Ship</a>
        <a href="/mission">Mission</a>
    </nav>
</header>