<header class="site-header">
    <div><h1>UESEC Portal</h1></div>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/">Personnel</a>
        <a href="/">Ship</a>
        <a href="/">Mission</a>
    </nav>
</header>